<!doctype html>
<html lang="cs-CZ">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link REL="SHORTCUT ICON" HREF="/img/worldwide.png">
    <title>domain name checker</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>
  <!-- <div class="topnav" id="nav" >
    <a href="/about">About</a>
    <a href="/api">Api</a>
    <a href="/index">Home</a>

  </div> -->

<%- body %>


    <div class="footer" id='footer_id' >
      <div class = "inner_footer">
        <p>© 2022 urlcheck.cz</p>
        <p>Developed by <a href="https://cz.linkedin.com/in/jan-poli%C5%A1ensk%C3%BD-01363a227">Jan Polišenský</a> </p>
      </div>
    </div>
  </body>
</html>
